<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card border-0 text-white">
      <img
        src="https://e.holi.sn/assets/images/slider/10.jpg"
        alt="Card image"
        class="card-img"
      />
      <div class="card-img-overlay bg-overlay">
        <h4 class="card-title text-white">Card title</h4>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 text-white">
      <img
        src="https://e.holi.sn/assets/images/slider/10.jpg"
        alt="Card image"
        class="card-img"
      />
      <div class="card-img-overlay bg-overlay">
        <h4 class="card-title text-white">Card title</h4>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 text-white">
      <img
        src="https://e.holi.sn/assets/images/slider/10.jpg"
        alt="Card image"
        class="card-img"
      />
      <div class="card-img-overlay bg-overlay">
        <h4 class="card-title text-white">Card title</h4>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
