<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <br>
    <div class="card card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th>
            {{ 'documents.field.image'|translate }}
          </th>
          <th>
            {{ 'documents.field.reference'|translate }}
          </th>
          <th>
            {{ 'documents.field.title'|translate }}
          </th>
          <th>
            {{ 'documents.field.summary'|translate }}
          </th>
          <th>
            {{ 'documents.field.author'|translate }}
          </th>
          <th>
            {{ 'documents.field.status'|translate }}
          </th>
          </thead>
          <tbody>
            <tr class="pointer" [routerLink]="['/admin/documents/' + item.id + '/details']" *ngFor="let item of documents">
                <td>
                    <img [src]="item.media.length != 0 ? item?.media[0]?.original_url : '/assets/document.png'" alt="" width="60">
              </td>
              <td>{{ item.reference }}</td>
              <td class="bold text-dark">{{ item.title }}</td>
              <td>{{ item.summary | resume: 40 }}</td>
              <td>{{ item.author?.name }}</td>
              <td>
                <span class="badge badge-{{ item.status == 'available' ? 'success' : 'danger' }}">
                  {{ ('documents.field.status_type.' + item.status) | translate }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
