<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="card card-developer-meetup">
      <div class="bg-light-primary rounded-top text-center">
        <img
          src="assets/images/illustration/email.svg"
          alt="Meeting Pic"
          height="170"
        />
      </div>
      <div class="card-body">
        <h1 class="card-title bold">{{ document?.title }}</h1>

        <p class="card-text">{{ document?.summary }}
        </p>
      </div>
    </div>
    <br />
  </div>
</div>
