<!-- HEADER -->
<div class="modal-header">
    <h5 class="modal-title" id="create_document">
        {{ "documents.modal_create_title" | translate }}
    </h5>
    <button
            type="button"
            class="close"
            (click)="modal.dismiss('cancel')"
            aria-label="Close"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- BODY -->
<div class="modal-body py-4" tabindex="0" ngbAutofocus>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" (click)="image?.click()" >
                    <i data-feather="camera" class="mr-0 mr-sm-1"></i>
                    {{ 'content.btn_take_picture'|translate }}
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="title">
                        {{ "documents.field.title" | translate }}
                    </label>
                    <input
                            class="form-control input-md"
                            formControlName="title"
                            type="text"
                            placeholder="{{ 'documents.field.title' | translate }}"
                            id="title"
                            [class.error]="title.invalid && (title.dirty || title.touched)"
                    />
                    <span
                            *ngIf="title.invalid && (title.dirty || title.touched)"
                            class="invalid-form"
                    >
            <small
                    class="form-text text-danger danger"
                    *ngIf="title.errors?.['required']"
            >
              {{ "form.validation.required" | translate }}
            </small>
          </span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="author_id">
                        {{ "documents.field.author" | translate }}
                    </label>
                    <ng-select
                            id="author_id"
                            readonly
                            [class.error]="author_id.invalid && (author_id.dirty || author_id.touched)"
                            formControlName="author_id"
                            [placeholder]="'documents.field.author' | translate"
                            [loading]="authorLoading"
                            ngModel
                            (ngModelChange)="onAuthorSearch($event)"
                    >
                        <ng-option *ngFor="let item of authors" [value]="item.id"
                        >{{ item.name }}</ng-option
                        >
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="reference">
                        {{ "documents.field.reference" | translate }}
                    </label>
                    <input
                            class="form-control input-md"
                            formControlName="reference"
                            type="text"
                            placeholder="{{ 'documents.field.reference' | translate }}"
                            id="reference"
                            [class.error]="reference.invalid && (reference.dirty || reference.touched)"
                    />
                    <span
                            *ngIf="reference.invalid && (reference.dirty || reference.touched)"
                            class="invalid-form"
                    >
            <small
                    class="form-text text-danger danger"
                    *ngIf="reference.errors?.['required']"
            >
              {{ "form.validation.required" | translate }}
            </small>
          </span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="copies">
                        {{ "documents.field.copies" | translate }}
                    </label>
                    <input
                            class="form-control input-md"
                            formControlName="copies"
                            type="number"
                            min="1"
                            placeholder="{{ 'documents.field.copies' | translate }}"
                            id="copies"
                            [class.error]="copies.invalid && (copies.dirty || copies.touched)"
                    />
                    <span
                            *ngIf="copies.invalid && (copies.dirty || copies.touched)"
                            class="invalid-form"
                    >
            <small
                    class="form-text text-danger danger"
                    *ngIf="copies.errors?.['required']"
            >
              {{ "form.validation.required" | translate }}
            </small>
          </span>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="area_id">
                        {{ "documents.field.area" | translate }}
                    </label>
                    <ng-select
                            id="area_id"
                            readonly
                            [class.error]="area_id.invalid && (area_id.dirty || area_id.touched)"
                            formControlName="area_id"
                            [placeholder]="'documents.field.area' | translate"
                            [loading]="areaLoading"
                            ngModel
                            (ngModelChange)="onAreaChange($event)"
                    >
                        <ng-option *ngFor="let item of areas" [value]="item.id"
                        >{{ item.name }}</ng-option
                        >
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label" for="shelf_id">
                        {{ "documents.field.shelf" | translate }}
                    </label>
                    <ng-select
                            id="shelf_id"
                            readonly
                            [class.error]="shelf_id.invalid && (shelf_id.dirty || shelf_id.touched)"
                            formControlName="shelf_id"
                            [placeholder]="'documents.field.shelf' | translate"
                            ngModel
                    >
                        <ng-option *ngFor="let item of shelfs" [value]="item.id"
                        >{{ item.level }}</ng-option
                        >
                    </ng-select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <label class="form-control-label" for="summary">
                    {{ "documents.field.summary" | translate }}
                </label>
                <textarea formControlName="summary"
                [placeholder]=" 'documents.field.summary' | translate"
                          [class.error]="summary.invalid && (summary.dirty || summary.touched)"
                          type="text" class="form-control input-md" name="summary" id="summary" cols="30" rows="4">
                </textarea>
                <span
                        *ngIf="summary.invalid && (summary.dirty || summary.touched)"
                        class="invalid-form"
                >
                    <small
                    class="form-text text-danger danger"
                    *ngIf="summary.errors?.['required']"
                >
                    {{ "form.validation.required" | translate }}
                    </small>
          </span>

            </div>
        </div>
        <input type="file" name="iamge" (change)="chooseImage($event)" id="image" hidden="hidden" #image>
    </form>
</div>

<!-- FOOTER -->
<div class="modal-footer">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <button
                type="reset"
                class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel')"
                rippleEffect
        >
            {{ "content.btn_cancel" | translate }}
        </button>
        <button
                type="submit"
                [disabled]="!form.valid || createdLoad"
                (click)="submit(form.value)"
                class="btn btn-primary mr-1"
                rippleEffect
        >
      <span
              *ngIf="createdLoad"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
      ></span>
            {{ "content.btn_submit" | translate }}
        </button>
    </div>
</div>
